.admin-top-red-nav ul li.active label{
	color: #fff !important;
/*	border: 1px solid #ee2c48;*/
	background: #ee2c48;
}

.admin-top-red-nav ul li.notactive label{
	color: #cccccc !important;
/*	border: 1px solid #ee2c48;*/
	background: #fff;
}


.admin-top-red-nav ul li label{
	color: #cccccc;
	font-size: 16px;
	margin: 0px;
	padding: 5px 30px;
	font-weight: 500;
	display: block;
	text-transform: capitalize;
	border: 1px solid #f8f8f8;
	border-radius:6px; 
	
}
.admin-top-red-nav ul li label:hover{
	color: #fff;
	border: 1px solid #ee2c48;
	background: #ee2c48;
}

.admin-top-red-nav ul li input[type="radio"]:checked + label {
	color: #fff !important;
/*	border: 1px solid #ee2c48;*/
	background: #ee2c48;
}


.admin-top-blue-nav ul li label {
    color: #cccccc;
    font-size: 16px;
    margin: 0px;
    padding: 5px 20px;
    font-weight: 500;
    display: block;
    text-transform: capitalize;
    border: 1px solid #f8f8f8;
    border-radius: 6px;
}
.admin-top-blue-nav ul li label:hover{
	color: #fff;
	border: 1px solid #293492;
	background: #293492;
}

.admin-top-blue-nav ul li input[type="radio"]:checked + label {
	color: #fff !important;
	border: 1px solid #293492;
	background: #293492;
}

.admin-add-user-main .admin-chlng-fit-top-input{
    color: #0f0f0f;
}